---
layout: default
---
<header class="hero">
  <div class="container">
    <div class="patterns patterns--dots patterns--hero ">
      <!--
      <div class="square square--wrapper">
        <div class="square square__line square__line--a"></div>
        <div class="square square__line square__line--b"></div>
      </div>
      -->
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
      <div class="pattern pattern--dot"></div>
    </div>
    <h1>Hello<span class="move">,</span><br><br>I'm {{ site.author }}, <span>a <b class="tooltip"><span>Research, writing, User Interfaces, Information Architecture, Visual design, Prototyping, Front-end development.</span>product designer</b></span> based in <i>{{ site.local }}</i>.</h1>
    <p>I enjoy working on branding, product design, and strategy with passionate people. I create compelling and simple-to-use designs, whether it's a website or an interface.</p>
    <br>
    <p>I like to think big, but I’m pragmatic in my day-to-day work and can take fast decisions on what needs to be done in the short term.</p>
    <br>
    <p>While interface design is the core of my expertise, experience in front-end development and branding round out my perspective. I have experience managing multi-stakeholder creative processes and am self-motivated but able to adapt to different team structures.</p>
    <br>
    <p>Currently working at <a href="https://breather.com" target="_blank">Breather</a></p>
</div>
</header>
{% include _experiences.html %}
{% include _highlights.html %}
{% include _skills.html %}
