---
layout: default
---

<article class="post">
  <div class="container">
    {% if page.cover %}
    <div class="post-header">
      <figure class="post-cover">
        <img  class="lazy" data-original="{{ site.url }}{{ page.header }}">
      </figure>
    </div>
    {% else %}
    {% endif %}
    <div class="post-infos">
      <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
      <hr>
      <div class="post-infos__content">
        {% if page.role %}
        <div class="post-infos__child">
          <p class="date">Role</p>
          <p>{{ page.role }}</p>
        </div>
        {% endif %}

        {% if page.matters %}
        <div class="post-infos__child">
          <p class="date">Helped with</p>
          <p>{{ page.matters }}</p>
        </div>
        {% endif %}

        <div class="post-infos__child">
          <p class="date">Period</p>
        {% if page.period %}
          <p>{{ page.period }}</p>
          {% else %}
          <p>{{ page.date | date: "%Y" }}</p>
        {% endif %}
        </div>

        {% if page.link %}
        <div class="post-infos__child" id="link">
          <p class="date">Elsewhere</p>
          <p><a href="{{ page.link }}" target="_blank">{{ page.link | truncate: 35, '...'  }}  ↗</a></p>
        </div>
        {% endif %}
      </div>
      <hr>
    </div>
    <div class="post-content">
        {{ content }}
    </div>
  </div>
</article>
<!-- {% include _banner.html %} -->
